.footer
    background #2f2a2a
    height 105px
    
    &__it-grade
        height inherit
        float right
        display inline-table
        
        &__logo
            height 45px
            width 200px
            float left
            
            &:hover
                span
                    color #0199da
            
            i
                float right
                size(40px,40px)
                bgP(center,center,contain)
                background url(IMG_SRC-G/grade.png)
                
            span
                display inline-block
                float right
                color #fff
                font-size 15px
                text-align right
                margin-right 15px
                m-speed(.3s)
                
        