mixin nav(data)
    
    nav.nav
        .content
            ul.topmenu
            
                li.burger-button#burger                
                li.navlink
                    .middle
                        a(href="#services") Услуги
                        
                li.navlink
                    .middle
                        a(href="#about") О лицензировании
                li.navlink
                    .middle
                        a(href="#static") Условия работы
                li.navlink
                    .middle
                        a(href="#advantages") Преимущества работы с нами
                li.navlink
                    .middle
                        a(href="#contacts") Контакты