mixin nav(data)
    
    nav.nav
        .content
            ul.topmenu
                li
                    .middle
                        a(href="#") Услуги
                li
                    .middle
                        a(href="#") О лицензировании
                li
                    .middle
                        a(href="#") Условия работы
                li
                    .middle
                        a(href="#") Преимущества работы с нами
                li
                    .middle
                        a(href="#") Контакты
                li
                    .middle

            
        