doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/nav/nav
    include ../components/slide/slide
    include ../components/services/services
    include ../components/question/question
    include ../components/about/about
    include ../components/static/static
    include ../components/bui-info/bui-info
    include ../components/advantages/advantages
    include ../components/example/example
    include ../components/footer/footer 
    include ../components/contacts/contacts

    
    

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        section.page__wrapper
            +header()
            +nav()
            +slide()
            +services()
            +question()
            +about()
            +static()
            +bui-info()
            +question()
            +advantages()
            +contacts()

            //- Include your components here
            //- +example()

            +footer()
            a#top(href="#header")
                span

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')