mixin advantages(data)

    section.advantages#advantages
        .content
            h3 Преимущества работы с нами
            
            .advantages__grid
            
                .advantages__row.advantages__row--one
                
                    .advantages__article
                        .advantages_img.advantages_img__1(style="background:url(static/img/general/img1.png)")
                        .advantages_description <span class="advantages__article--number">1.</span> Заключение договора на оказание услуг
                                
                    .advantages__article
                        .advantages_img.advantages_img__2(style="background:url(static/img/general/img2.jpg)")
                        .advantages_description <span class="advantages__article--number">4.</span> Помощь в подготовке объекта лицензирования к выездной проверке
                
                    
                .advantages__row.advantages__row--two
                
                    .advantages__article
                        .advantages_img.advantages_img__3(style="background:url(static/img/general/img3.jpg)")
                        .advantages_description <span class="advantages__article--number">2.</span> Подробная консультация по всем возникающим вопросам
                                
                    .advantages__article
                        .advantages_img.advantages_img__4(style="background:url(static/img/general/img4.jpg)")
                        .advantages_description <span class="advantages__article--number">5.</span> Подача документов в соответствующий лицензирующий орган
                                
                    
                .advantages__row.advantages__row--three
                
                    .advantages__article
                        .advantages_img.advantages_img__5(style="background:url(static/img/general/img5.jpg)")
                        .advantages_description <span class="advantages__article--number">3.</span> Помощь в оформлении и подготовке документов для получения лицензии, проверка на ошибки и недочеты, помощь в их исправлении
                                
                    .advantages__article
                        .advantages_img.advantages_img__6(style="background:url(static/img/general/img6.jpg)")
                        .advantages_description <span class="advantages__article--number">6.</span> Получение и передача клиенту 5оформленной лицензии на алкоголь
                
        