mixin static(data)

    section.static#static
        .static_bg
        .content
            article
                h3 Условия работы с нами
                p.static_desc Оцените сами насколько это выгодно!
                
            .static_grid
                .static__item.static_s1
                    .static_title 
                        img(src="static/img/general/100p.png")
                    .static_info Гарантия получения лицензии
                        
                        
                        
                        
                        
                        
                .static__item.static_s2
                    .static_title 
                        img(src="static/img/general/70p.png")
                    .static_info Стоимость услугв Московской области (зависит от удаленности)
                        
                        
                        
         
         
                                     
                .static__item.static_s3
                    .static_title 
                        img(src="static/img/general/30p.png")
                    .static_info Срок получения лицензии
                        
                        
                        
         
         
                        
                        
                .static__item.static_s4
                    .static_title 
                        img(src="static/img/general/50p.png")
                    .static_info При заключении договора и остальные 50% после внесения в реестр лицензиатов и получения бланка лицензии
                        
                        
                        
    
    
                        
                                                           
                .static__item.static_s5
                    .static_title 
                        img(src="static/img/general/60p.png")
                    .static_info Стоимость услуг в Москве
                        
                        
                        
                        
                        
                        
                        
                        