mixin question(data)

    section.question#question
        .content
            article
                h4 Закажите звонок и наш специалист свяжется с Вами <br> и ответит на интересующие вопросы
                p Мы поможем пройти все этапы согласования и преодолеть возникшие  сложности при оформлении алкогольных лицензий!
                
            .question__button-block
                a.button(htef="#contacts") Заказать звонок