.question
    background colfirm
    height 244px
    
    article
        padding 25px 25px 60px
        width 965px
        float left
        
    h4
        text-align left
        color #fff
        margin-bottom 35px
        
    p
        color #fff
        font-weight 300
        
        
    &__button-block
        float right
        width 216px 
        height inherit
        position relative
        
        
        .button
            position absolute
            top 135px
            right 0px