.contacts
    background colfirm2
    padding 40px 0 20px
    text-align center
    
    .header__contact-block_link
        color coltxt
        font-size 20px
        margin 0 13px
        &:hover
            color colfirm
            
        @media screen and (min-width: 300px) and (max-width: 999px)
            font-size 16px
            margin-left 0px
            padding: 0 20px !important;
            
        .mail
            width 31px
            height 29px
            background-position -7px -251px
            top 8px
                        
        .skype
            background-position -4px -282px
            width 31px
            height 29px
                                
        .phone
            background-position -7px -5px
            @media screen and (min-width: 300px) and (max-width: 999px)
                margin-left 10px

                                           
        .phone2
            height 29px 
            width 0px
            
            
    
    h3
        text-align center
        margin-bottom 55px
        
    &__grid
        display inline-block
        margin 0 auto
        clearfix()
        
        
    &__form
        margin-bottom 45px
        clearfix()
        
    &_input
        display inline-block
        padding 20px
        border solid 1px #c1c1c1
        font-size 19px
        border-radius 3px
        float left
        margin 13px 0
        font-weight 300
        outline none
        resize none
        overflow hidden
        &::placeholder
            color coltxt
        @media screen and (min-width: 300px) and (max-width: 1199px)
            width 100% !important
        
    &_input-one
        width 365px
        margin-right 45px
                
    &_input-two
        width 363px
                      
    &_input-three
        width 361px
                              
    &_input-four
        width 905px
        padding: 16px 20px;
        height 64px
        @media screen and (min-width: 300px) and (max-width: 1199px)
            height 180px
        
    &_label
        float left
        display inline-block
        padding 16px
        margin-top 14px
        font-weight 300
        @media screen and (min-width: 600px) and (max-width: 1199px)
            padding 16px 50px
        @media screen and (min-width: 300px) and (max-width: 1199px)
            width 100% 
            margin-top 0px
        
    &_button
        display inline-block
        float right
        padding 21px 40px
        background colfirm
        color #fff
        font-weight 600
        font-size 18px
        margin-top 13px
        border-radius 3px
        outline none
        border solid 0px
        @media screen and (min-width: 600px) and (max-width: 1199px)
            float left
        
        
        
        
        
    h4
        font-size 30px
        
        
    
        
        
        
    
    