mixin bui-info(data)
    
    .bui-info
        .content
            article
                ul
                    li осуществляем предварительный выезд к клиенту для осмотра помещения на соответствие лицензионным требованиям
                    li индивидуальный подход к клиенту (за клиентом закрепляется специалист, который ведет клиента до внесения в реестр лицензиатов и получения бланка лицензии)
                    li сопровождаем клиента и документооборот на всех этапах взаимодействия с лицензионным органом
                    
                p Высокая квалификация сотрудников нашей компании позволяет обходить все «подводные камни», которые имеются в алкогольном законодательстве и затрудняют лицензирование. Мы поможем подготовить помещение для осуществления лицензирования розничной торговли алкогольной продукцией, оптовой торговли алкогольной продукцией и производства, проверим его на соответствие лицензионным требованиям (расстояние до запретных организаций – детские, медицинские, образовательные и иные учреждения, соответствие технической документации). Наши сотрудники стараются максимально оптимизировать работы и затраты, поэтому вы получаете желаемый результат по приемлемой цене. Ответственно подходим к формированию пакета необходимых документов, учитываем все пожелания заказчика.
                    