.services
    h2
        margin-bottom 40px
        text-align center
        
        
    &__grid
        float left
        width 100%
        bgP(top,center,cover)
        background url(IMG_SRC-G/sbg.jpg)
        min-height 700px