mixin about(data)

    section.about
        .content
            article
                h3 Алкогольное лицензирование
                p Осуществляя или планируя заниматься деятельностью в сфере розничной торговли алкогольной продукцией, вы наверняка сталкивались с необходимостью получения розничной или оптовой лицензии на алкоголь. Только в этом случае бизнес считается легальным. Документ в обязательном порядке требуется всем производственным, оптовым и розничным торговым организациям.

                p Первым шагом на пути к получению разрешения является регистрация юридического лица. Действующие законодательные нормы России не разрешают выдачу подобной лицензии индивидуальным предпринимателям. Спиртосодержащими товарами могут торговать только компании следующих организационно-правовых форм собственности: ООО, ЗАО. Уставной капитал для розничной продажи: Москва - магазины 1 000 000 рублей, общественное питание 10 000 руб, в Московской области - магазины 500 000 руб., общественное питание - 10 000 руб. А для лицензирования оптовых компаний уставной капитал должен составлять 10 000 руб. и 10 000 000 руб.

                p Не тратьте свое время и силы, позвольте профессионалам взять на себя ответственность и хлопоты по оформлению документов. Наша команда занимается получением лицензий на алкоголь уже многие годы, выполняя любые поставленные задачи качественно и в сжатые сроки.