height-media = 205px / 2

.header
    background #2f2a2a
    height 105px
    @media screen and (min-width: 1000px) and (max-width: 1199px)
        height 205px
    
    .content
        height inherit
    
    &__logo-block
        float left
        height inherit
        width 409px
        display inline-table
        @media screen and (min-width: 1000px) and (max-width: 1199px)
            height height-media
        
        img
            display block
            width 279px
            height 75px
            float left
            
            
    &__contact-block
        float left
        width 520px
        height inherit
        @media screen and (min-width: 1000px) and (max-width: 1199px)
            height height-media
        
                
    &__contact-block__item
        float left
        width 290px
        display inline-table
        height inherit
        &:last-child
            width 214px
            .header__contact-block_link
                float right

                
                    
    &__contact-block_link
        float left
        display inline-block
        font-size 20px
        color #fff
        font-weight 700
        m-speed(.3s)
        &:hover
            color #f5edc9
        
        i

            display inline-block
            background-image url(../img/svg-sprite/sprite.svg)
            position relative
            margin-right 15px
            
        .mail
            width 28px
            height 28px
            background-position -4px 64px
            top 8px
                        
        .skype
            width 28px
            height 28px
            background-position -4px 33px
            top 8px
            margin-left 2px
                                
        .phone
            width 19px
            height 35px
            background-position 0px 101px
            top 11px
            margin-right 5px
            margin-top -5px
                                           
        .phone2
            height 26px
            
    &__svonok
        float right
        height inherit
        display inline-table
        @media screen and (min-width: 1000px) and (max-width: 1199px)
            height height-media
            width 100%
            text-align center
            margin-top -15px

    