mixin slide(data)
    
    .slide
        img(src="static/img/general/hbg.jpg" id="baner1" alt="хз, на ie проверить негде)")  
        img(src="static/img/general/hbg-min.jpg" id="baner2" alt="хз, на ie проверить негде)")  
        
        .slide__info
            article
                p Мы поможем Вам <b>с полным юридическим обеспечением по оформлению и получению лицензии на алкогольную продукции</b> в г.Москва и Московской области
        
        
            