mixin slide(data)
    
    .slide
        img(src="static/img/general/hbg.jpg")
        
        .slide__info
            article
                p Мы поможем Вам <b>с полным юридическим обеспечением по оформлению и получению лицензии на алкогольную продукции</b> в г.Москва и Московской области
        
        
            